// Start Here With Social


// Old

.grid {
  &__social {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    opacity: 1;
    z-index: 1;
    // animation: splash--in 14.2s 1 forwards 5s ease-out;
    // transition: animation 5s ease-out;
    font-size: 1.6rem;

    @include respond(phone) {
      font-size: 1.4rem;
    }

    &--icon {
      a {
        color: $primary-color;
      }
    }
  }
}
