// Clear
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Media Query Manager

// 0-600 px:       Phone
// 600-900 px:     Tablet Potrait
// 900-1200 px:    Tablet Landscape
// (1200-1800)px:  Normal Styles
// 1800+ px:       Big Screens

// $breakpoint argument choices:
//   - phone
//   - tab-port
//   - tab-land
//   - big-desktop

// Order of Operations: Base + Typography > Layout + Grid > Components

// 1em = 16px
// 600px
@mixin respond($breakpoint) {

  // Each Phone Breakdown
  @if $breakpoint == i7 {
    @media only screen and (max-width: 41.6875em) {
      @content;
    }
  }

  // Overall Breakdown

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  // 900px
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  // 1200px
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  // 1800px
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }

  // 500px height
  @if $breakpoint == phone-land {
    @media only screen and (max-height: 31.25em) {
      @content;
    }
  }

  // 1300px height
  @if $breakpoint == tab-port-2 {
    @media only screen and (min-height: 81.25em) {
      @content;
    }
  }
}